body {
	
	margin:0;
}


#global {
 	
 	display: flex;
 	height: 100vh;
 	flex-flow: column;
 	justify-content: space-around;
 
 }
 
 
 h1 {
 
 	text-align: center;
 	font-family: 'Prata';
 
 }
 
 
 h2 {
 
 	text-align: center;
 
 }
 
 
 nav {
 
 	display: flex;

 	

 }
 
 nav ul {
 
 	margin-bottom: 300px;
 	list-style-type: none;
 
 
 }
 
 nav ul li {
 
 	display: inline-block;
 	padding: 10px;
 
 }
 
 nav ul li a {
 
 	text-decoration: none;
 	font-family: 'Raleway';
 
 }

 nav ul li a:hover {

 	text-decoration: underline;

 }
 
 #centre {
 
 	display: flex;
 	background-color: navy;
 	flex-wrap: wrap;

 
 }
 
#centre h2 {
	
	text-align: center;
	color: white;
}

 div#premier {
 
 	display: flex;
 	background-color: white;
 	margin: 6px;
 	border-radius: 4px;

 }

div#premier p {
	
	display: flex;
	font-family: 'Raleway';
	padding: 10px;

}

 
 div#deuxieme {

 	display: flex;
 	background-color: white;
 	margin: 6px;
 	border-radius: 4px;
 }

 div#deuxieme p {

 	display: flex;
 	font-family: 'Raleway';
 	padding: 10px;

 }


 footer {

	display: flex;
	background-color: #404040;
}
 
 footer p {
 
 	color: white;
 	padding: 30px;
 	font-size: 1em;
 	font-family: 'Raleway';
 
 }
 